.manager-btn {
    margin-top: 40px;
}
.manager-big-btn-img {
    margin-right: 4px;
}
.td-name {
    display: flex;
    align-items: center;
    .img-dude {
        margin-right: 8px;
        width: 35px;
        height: 35px;
        max-width: 35px;
        max-height: 35px;
    }
}
